<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="main-div">
        <mat-card class="example-card">
            <form [formGroup]="customerForm" (ngSubmit)="submitCustomerForm(customerForm.value)">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name" formControlName="name" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="!customerForm.get('name').valid && customerForm.get('name').touched">Please
                            enter Name</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="!customerForm.get('email').valid && customerForm.get('email').touched">Please
                            enter Email</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Phone" formControlName="phone" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="!customerForm.get('phone').valid && customerForm.get('phone').touched">Please
                            enter Phone Number</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Address" formControlName="address" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="!customerForm.get('address').valid && customerForm.get('address').touched">Please
                            enter Phone Number</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="City" formControlName="city" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="!customerForm.get('city').valid && customerForm.get('city').touched">Please
                            enter City</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Estate" formControlName="state" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="!customerForm.get('state').valid && customerForm.get('state').touched">Please
                            enter Estate</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Zip" formControlName="zipcode" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="!customerForm.get('zipcode').valid && customerForm.get('zipcode').touched">Please
                            enter Estate</span>
                    </mat-error>
                </mat-form-field>
                <div class="button-row">
                    <button type="submit" [disabled]="!customerForm.valid" mat-flat-button color="primary">
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
            </form>
        </mat-card>
    </div>

</div>