<mat-toolbar color="white">
  <img src="/assets/tidy_logo_new.png">
  <span class="example-fill-remaining-space"></span>
  <div fxLayout="row" fxLayoutGap="20px">
    <span>
      <a [routerLink]="['/']">
        <mat-icon class="black-icon">people</mat-icon>
      </a>
    </span>
    <span>
      <a [routerLink]="['/addcustomer']">
        <mat-icon class="black-icon">add_circle</mat-icon>
      </a>
    </span>
  </div>
</mat-toolbar>
<div class="main-container">
  <div fxLayout="row" fxLayoutAlign="start center">
    <img src='/assets/background_image.png' />
  </div>
  <router-outlet></router-outlet>
</div>