<mat-toolbar color="white">

  <img src="/assets/tidy_logo_new.png">

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <span>
    <a [routerLink]="['/']">
      <mat-icon class="black-icon">people</mat-icon>
    </a>
  </span>
  <span>
    <a [routerLink]="['/addcustomer']">
      <mat-icon class="black-icon">add_circle</mat-icon>
    </a>
  </span>

</mat-toolbar>
<!--The content below is only a placeholder and can be replaced.-->

<div class="main-container">
  <img src='/assets/background_image.png' />
  <router-outlet></router-outlet>
</div>