.example-card {
    max-width: 400px;
    margin: 30px;
  }

.example-container {
  position: relative;
  padding: 10px;
}

.example-header-image {
  background-image: url('https://cdn.iconscout.com/icon/free/png-256/avatar-375-456327.png');
  background-size: cover;
}

